{
  "extends": [
    "airbnb",
    "plugin:flowtype/recommended"
  ],
  "plugins": [
    "flowtype"
  ],
  "rules": {
    "arrow-parens": [2, "as-needed"],
    "no-confusing-arrow": 0,
    "no-console": [2, { "allow": ["info", "warn", "error"] }],
    "no-unneeded-ternary": [2, { "defaultAssignment": true }],
    "semi": [2, "never"]
  }
}
